<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recorrido en Mapa</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>

<body>
    <div id="map" style="height: 700px; width: 100%;"></div>

    <script>
        // Se inicializa el mapa
        var map = L.map('map').setView([0, 0], 2);  
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        var recorrido = [];

        // Función para agregar una nueva coordenada al mapa y dibujar el recorrido
        function agregarCoordenada(lat, lon) {
            var coord = new L.LatLng(lat, lon);
            recorrido.push(coord);
            L.polyline(recorrido, { color: 'blue' }).addTo(map);
            map.setView(coord, 15);  // Centrar el mapa en la nueva coordenada, funcioana como un zoom
        }

        // Peticiones periódicas para obtener coordenadas
        setInterval(() => {
            fetch('http://127.0.0.1:5000/coordenadas')
                .then(response => response.json())
                .then(data => {
                    data.forEach(coord => {
                        agregarCoordenada(coord.latitud, coord.longitud);
                    });
                })
                .catch(error => console.error('Error:', error));
        }, 5000);  // Cada 5 segundos

    </script>
</body>

</html>